/*!
 * Start Bootstrap - Landing Page v5.0.7 (https://startbootstrap.com/template-overviews/landing-page)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-landing-page/blob/master/LICENSE)
 */

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-backround-size: cover;
  background-size: cover;
}

.carousel-caption {
  background: #1f2e21;
}

.gallery h2 {
  text-align: center;
}

.thumb {
  margin-bottom: 30px;
  height: 100%;
}

.page-top {
  margin-top: 85px;
}

img.zoom {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all .3s ease-in-out;
}

.transition {
  transform: scale(1.1);
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  color: #000;
}

.modal-footer {
  display: none;
}

.know-how {
  height: 50%;
}

.know-how h2 {
  color: #e9ecef;
  text-align: center;
  padding-bottom: 1rem;
}

.know-how button {
  color: #868e96;
  text-decoration: none;
}

.know-how button:hover {
  text-decoration: none;
  color: #28a745;
}

.know-how button:focus {
  text-decoration: none;
  color: #28a745;
}

.pill-link a {
  color: #868e96;
  border-radius: 3px;
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
}

.pill-link a:active {
  background-color: #868e96;
}

.pill-link a:hover {
  background-color: #f8f9fa;
  color: #28a745;
}

.pill-link a:focus {
  background-color: #868e96;
  color: #f8f9fa;
}

.pill-link .active {
  background-color: #f8f9fa;
  color: #868e96;
}

.sectors {
  margin-bottom: 1rem;
}

.sectors h2 {
  text-align: center;
  padding-bottom: 1rem;
}

.sectors img {
  height: 250px;
  width: 100%;
}
