.know-how{
    height: 50%;
    h2 {
        color: $gray-200;
        text-align: center;
        padding-bottom: 1rem;
    }
    button {
        color: $secondary;
        text-decoration: none;
    }
    button:hover {
        text-decoration: none;
        color: $primary;
    }
    button:focus {
        text-decoration: none;
        color: $primary;
    }



}
.pill-link {
    a {
      color: $secondary;
      border-radius: 3px;
      display: block;
      padding: .5rem 1rem;
      text-decoration:none;
    }
    a:active {
        background-color: $secondary;
    }
    a:hover {
        background-color: $light;
        color: $primary;
    }
    a:focus {
        background-color: $secondary;
        color: $light;
    }
    .active {
        background-color: $light;
        color: $secondary;
    }

}

