.gallery {
    h2{
        text-align: center;
    }
}
.thumb {
    margin-bottom: 30px;
    height: 100%;
}

.page-top {
    margin-top: 85px;
}

img.zoom {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.transition {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);

}

.modal-header {
    border-bottom: none;
}

.modal-title {
    color: #000;
}

.modal-footer{
    display:none;
}